@font-face {
  font-family: Norse;
  src: url(/Norse-Bold.otf);
}

body {
  margin: 0px;
  display: flex;
}
section.graphic {
  width: 38vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
img.forest {
  width: inherit;
  height: inherit;
}
div.logo {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  width: inherit;
  position: absolute;
  top: 22vh;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}
img.odin {
  width: 85px;
}
p.logo-text {
  color: white;
  font-size: 80px;
  margin: 0px;
  font-family: Norse, sans-serif;
  letter-spacing: 2px;
}
section.sign-up {
  width: 100vw;
  background-color: beige;
  padding-top: 100px;
}
header {
  margin-bottom: 50px;
}
h2,
h3 {
  font-family: sans-serif;
  padding-left: 40px;
}
span.em {
  font-style: italic;
}
div.inputs {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  list-style: none;
  row-gap: 30px;
}
li {
  width: 50%;
  display: flex;
  flex-direction: column;
}
input {
  width: 75%;
}
div.submit {
  height: 10vh;
  display: flex;
  align-items: center;
}
button {
  height: 50%;
  width: 18%;
  border-radius: 8px;
  margin-left: 40px;
  background-color: #596d48;
  color: white;
  font-weight: bold;
  font-size: larger;
  font-family: Norse;
  letter-spacing: 1px;
}
h3.sign-in {
  margin: 0px;
}
